new_file.txt
test.txt
ex15_sample.txt
.idea/.name

.idea/encodings.xml

.idea/learn-python-the-hard-way-examples.iml

.idea/misc.xml

.idea/modules.xml

.idea/scopes/scope_settings.xml

.idea/vcs.xml

.idea/workspace.xml

*.pyc
